<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Autorization</title>
</head>
<body>
  <h1>Autorization</h1>
<div class="form_container">
  <form class="autorization" action="/check" method="post">
    <labe>Name </label>
    <div>
    <input name="login" type="text" maxlength="255" value="">
    </div>
    <label>Password </label>
    <div>
    <input name="password" type="text" maxlength="255" value="">
    <br><br>
    <input type="submit" value="Submit">
  </form>

</div>

</body>
</html>
